{% extends 'base.html' %}

{% load static %}



{% block css %}
<link rel="stylesheet" href="{% static 'character/css/form.css' %}">
{% endblock css %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'newskill-add'  slug_book slug_character %}">adicionar skill <span
            class="sr-only">(current)</span></a>
</li>
{% endblock nav %}

{% block content %}
<h1>New post</h1>

    <form action="" method="POST"  class="input-form" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form}}


        <button type="submit" value="Update">Create Character</button>
    </form>



{% endblock content %}