{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>characters</title>
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'character/css/character_page.css' %}">
{% endblock css %}

{% block nav %}
<li class="nav-item active">                                       
    <span class="sr-only"></span><a class="nav-link" href="{% url 'settlement-edit' slug_country  slug_region slug_fief slug_settlement %}">editar settlement</a></span>
</li>
<li class="nav-item active">
    <span class="sr-only"></span><a class="nav-link" href="{% url 'local-add'  slug_country slug_region  slug_fief slug_settlement %}">adicionar Local</a></span>
</li>
{% endblock nav %}


{% block content %}
{{slug}}
<div class="flex-container margin-m">
    {% for value in values %}
    <div class="card margin-p" style="width: 280px;">
        <a href="{% url 'settlement'  slug_country slug_region slug_fief %}">
            <div class="card-image-holder">
                <img class="card-img-top card-img" src="{% static 'default/kingdom/world/village.jpg' %}"
                    alt="Card image cap">
            </div>
        </a>
        <div class="card-body">
            
            <h3 class="card-title">{{value.name}} - {{value.type}}</h3>
            <p>localization:{% for localization in value.localization.all %}
                <span class="" style="font-weight: bold; font-style: italic;">
                    {{localization}}
                </span>{% if localization == value.localization.last %}
                        .
                    {% else %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>
            <p>recursos:{% for resource in value.resource.all %}
                <span class="" style="font-weight: bold; font-style: italic;">
                    {{resource}}
                </span>{% if resource == value.resource.last %}
                .
            {% else %}
            ,
            {% endif %}
                {% endfor %}
            </p>
            <p class="card-text">nasceu no ano {{character.birth_year}}, possui o reino </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}