{% extends 'base.html' %}

{% load static %}

{% block nav %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'character-list' slug_book %}">
      ir para lista de Characters
  </a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'character-murim-edit' slug_book character.slug %}">
      Editar Character
  </a>
</li>

{% endblock %}


{%block onload%}
  onload="sumAtributes()"
{% endblock %}

{% block content%}
<div class="container mt-4" >
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <img class="card-img-top" src="{{character.img.url}}" alt="Character Image">
        <div class="card-body">
          <h2 class="card-title">{{character.name}}</h2>
          <p class="card-text">{{character.alias}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Race: Human</li>
          <li class="list-group-item"><a href="{% url 'realm-add' slug_book character.slug %}">Realm: {{realm.fk_realm.rank}} {{realm.rank}} </a></li>
          <li class="list-group-item">status: {{character.alive}}</li>
        </ul>

      </div>
    </div>
    <div class="col-lg-8">
      <h4 class="mb-4">Description</h4>
      <p>
        {{character.description}}
      </p>

    </div>


  </div>
</div>
</div>

<div class="container">
  <div class="card mb-4">
    <div class="card-body"  data-toggle="tooltip" data-placement="bottom" title="{{first_proficience.fk_proficience.description}}">
      <h1 class="card-title">Proficience</h1>
      <p><span class="small">
          <a href="{% url 'proficience-add'  slug_book character.slug %}" class="a-link">
          atualizado na pagina {{first_proficience.page}}
        </a>
        </span></p>
        <div class="row">

         {% for proficience in proficiences %}
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title"><a href="{% url 'proficience-edit'  slug_book character.slug proficience.pk%}">
                    {{proficience.weapon_id.weapon}} {{proficience.fk_proficience.rank}}
                  </a></h2>
                  <p class="card-text">level: {{proficience.level}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card mb-4">
      <div class="card-body">
        <h1 class="card-title">Attributes</h1>
        <p><span class="small">
          {% if realm %}
            <a href="
            {% url 'atribute-add'  slug_book character.slug  realm.fk_realm.pk atribute.pk %}
            " class="a-link">
            atualizado na pagina {{atribute.page}}
            {% endif%}
          </a>
          </span></p>
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Str</h5>
                  <p class="card-text">Total:<span class="sum"></span> (Base:<span class="num1">{{realm.fk_realm.bonus_physic}} </span>+ Atributo:<span class="num2">{{atribute.STR}}</span>)</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Dex</h5>
                  <p class="card-text">Total:<span class="sum"></span> (Base:<span class="num1">{{realm.fk_realm.bonus_physic}} </span>+ Atributo:<span class="num2">{{atribute.DEX}}</span>)</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Agi</h5>
                  <p class="card-text">Total:<span class="sum"></span> (Base:<span class="num1">{{realm.fk_realm.bonus_physic}} </span>+ Atributo:<span class="num2">{{atribute.AGI}}</span>)</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Constituição</h5>
                  <p class="card-text">Total:<span class="sum"></span> (Base:<span class="num1">{{realm.fk_realm.bonus_physic}} </span>+ Atributo:<span class="num2">{{atribute.CON}}</span>)</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Res</h5>
                  <p class="card-text">Total:<span class="sum"></span> (Base:<span class="num1">{{realm.fk_realm.bonus_physic}} </span>+ Atributo:<span class="num2">{{atribute.RES}}</span>)</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Percepção</h5>
                  <p class="card-text">Total:<span class="sum"></span> (Base:<span class="num1">{{realm.fk_realm.bonus_spiritual}} </span>+ Atributo:<span class="num2">{{atribute.PERCEPTION}}</span>)</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Control</h5>
                  <p class="card-text">Total:<span class="sum"></span> (Base:<span class="num1">{{realm.fk_realm.bonus_spiritual}} </span>+ Atributo:<span class="num2">{{atribute.CTL}}</span>)</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Ky</h5>
                  <p class="card-text">{{atribute.KY}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <h1 class="card-title">Skills</h1>
      <p><span class="small">
        <a href="{% url 'skill-add'  slug_book character.slug %}" class="a-link">
        last time updated, page {{first_skill.page}}.
      </a>
      </span></p>
        <div class="row">
          {% for skill in skills %}
          <div class="col-md-4">
            <div class="card " style="max-width: 300px; min-width: 250px">
              <div style="width: 128px; margin: 8px auto;">
                <img class="my-3" src="{% static 'default/icons/character/skill.png' %}" class="card-img-top" style="width: 128px; ">
              </div>
              <div class="card-body">
                <h4 class="card-title "><a class="" href="{% url 'skill-edit' slug_book character.slug skill.pk %}">
                  {{skill.fk_skill.name}}
                </a></h4>

                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-light"><span style="font-weight: bolder; text-transform: capitalize;">{{skill.fk_skill.rank}}</span> <span style="font-style: italic; ">{{skill.fk_skill.sub_rank}}</span></li>
                  <li class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{skill.mastery.description}}"> <span style="font-weight:500; text-transform: capitalize;"> {{skill.mastery.rank}}</span></li>
                  <li class="list-group-item bg-light">{% for atributes in skill.fk_skill.atributes.all %} <span style="font-style: italic; font-weight: bolder;">
                    {{atributes}} 
                  </span>
                    {% if atributes == skill.fk_skill.atributes.last %}
                            .
                        {% else %}
                            ,
                        {% endif %}
                    
                    {% endfor %}</li>
                  <li class="list-group-item">page: {{skill.page}}</li>
                </ul>
              </div>
            </div>
          </div>
            {% endfor %}
        
        </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title"><a href="{% url 'item-add' slug_book character.slug %}" style="text-decoration: none; color: black;">Inventary</a></h2>
      <p class="card-text"><a href="{% url 'coin-add' slug_book character.slug %}">possui {{gold.value}} moedas de ouro</a></p>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>item type</th>
            <th>description</th>
            <th>page</th>
          </tr>
        </thead>
        <tbody>
          {% for item in itens %}
          <tr>
            <td><a href="{% url 'item-edit' slug_book character.slug item.pk %}">
                {{item.name}}
              </a>
            </td>
            <td>
              {{item.fk_item_type.type}}
              </td>
              <td data-toggle="tooltip" data-placement="bottom" title="{{item.description}}">{{item.description}}</td>
              <td>{{item.page}}</td>
        
          </tr>
        
          {% endfor %}
        

        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}