{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'character/css/character_page.css' %}">
{% endblock css %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'character-edit' c.slug %}">editar character<span class="sr-only">teste</span></a>
</li>
{% endblock nav %}



{% block content%}
<main class="flex-container">
    <section name="">
        <div class="flex-container">
            <div class="block" style="width: 65%;">
                <h1 class="center-title-1">Descrição</h1>
                <p class="text-l">
                   {{c.description}}

                </p>
            </div>
            <aside name="character-info">
                <div class="image-holder">
                    <img src="{{ c.img.url }}" alt="image holder" class="imgt">
                </div>

                <div name="info" class="info-list">
                    <h3 class="title-info">infomações</h3>
                    <ol class="list-info">
                        <li>nome: {{c.name}}</li>
                        <li>filiação: reino mazes</li>
                        <li>status: alive</li>
                    </ol>
                    <h3 class="title-info">nascimento e idade</h3>
                    <ol class="list-info">
                        <li>nascimento: {{c.periode}} {{c.season}}</li>
                        <li>ano de nascimento: {{c.birth_year}}</li>
                        <ol class="flex">
                            <li>age: 18</li>
                            <li>page: 125</li>
                        </ol>
                    </ol>
                    <h3 class="title-info">profissão</h3>
                    <ol class="list-info">
                        <ol class="flex">
                            <li>escolte</li>
                            <li>rank:medio</li>
                            <li>page: 125</li>
                        </ol>
                    </ol>
                    <h3 class="title-info">militar rank</h3>
                    <ol class="list-info">
                        <ol class="flex ">
                            <li>Rank:guarda</li>
                            <li>page: 125</li>
                        </ol>
                    </ol>
                    <h3 class="title-info">nobre rank</h3>
                    <ol class="list-info">
                        <ol class="flex">
                            <li>campião</li>
                            <li>page:65</li>
                        </ol>
                    </ol>
                </div>
                <div name="info" class="info-list">
                    <h3 class="title-info">familia</h3>
                    <ol class="list-info">
                        <li>avo: lorena</li>

                    </ol>
                </div>

            </aside>

        </div>




        <h1 class="center-title-1">estatisticas do personagem</h1>
        <div class="block">
           <a href="{% url 'realm-add' c.slug %}">
            <p> <span class="destacar">{{c.name}}</span> possui o matial realms:  <span class="destacar">
                {{realm.fk_realm.rank}}</span>, na pagina <span class="destacar"> {{ realm.page }}</span></p>
           </a>
        </div>
        <hr>
        <div class="flex-container  justify-content-around ">
            <div class="block w27">
                <h3>status</h3>

                <a href="{% url 'status-add' c.slug %}" style="color: black;">
                    <p class=""> Ultima vez atualizado na pagina <span class='destacar'>{{s.page}} </span></p>
                </a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% if s.pk == None or s.pk == Null %}
                                <th scope="col">Atributo</th>
                                {% else %}
                                <th scope="col"><a style="color: black;" href="{% url 'status-edit' c.slug s.pk %} ">Atributo</a></th>
                                {% endif %}
                            <th scope="col">Value</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <a href="{% url 'status-add' c.slug %}"><td>STR</td></a>
                            <td>{{s.STR}}</td>


                        </tr>
                        <tr>

                            <td>AGI</td>
                            <td>{{s.AGI}}</td>

                        </tr>
                        <tr>

                            <td>DEX</td>
                            <td>{{s.DEX}}</td>

                        </tr>
                        <tr>

                            <td>RES</td>
                            <td>{{s.RES}}</td>

                        </tr>
                        <tr>

                            <td>CON</td>
                            <td>{{s.CON}}</td>

                        </tr>
                        <tr>

                            <td>KY</td>
                            <td>{{s.KY}}</td>

                        </tr>
                        <tr>

                            <td>CTR</td>
                            <td>{{s.CTL}}</td>

                        </tr>
                        <tr>

                            <td>PER</td>
                            <td>{{s.PER}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hr-div"></div>

            <div class="block w30">
                <h3>proficienca</h3>
                <a href="{% url 'proficience-add'  c.slug %}"  style="color: black;">
                    <p>Ultima vez atualizado na pagina <span class='destacar'>{{ proficience_page }}</span></p>
                </a>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th scope="col">Arma</th>
                            <th scope="col">Rank</th>
                            <th scope="col">NV</th>



                        </tr>
                    </thead>
                    <tbody>
                    {% for proficience in proficiences %}
                    <tr>
                        <td><a href="{% url 'proficience-edit' c.slug proficience.pk %}">{{ proficience.weapon_id.weapon}}</a></td>
                        <td>{{ proficience.proficience_id.rank}}</td>
                        <td>{{ proficience.level}}</td>

                    </tr>
                    {% endfor %}
                      
                    </tbody>
                </table>
            </div>
            <div class="hr-div"></div>
            <div class="block w40">
                <h3>Tecnicas aprendidas</h3>
               
                    <a href="{% url 'skill-character'  c.slug %}"  style="color: black;">
                        <p> Ultima vez atualizado na pagina <span class='destacar'>{{ skill_page }}</span></p>

                    </a>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Nome</th>
                            <th scope="col">maestria</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for skill in skills %}
                                <tr>
                                    <td><a href="{% url 'skill-character-edit' c.slug skill.pk %}">{{skill.skill_id.rank}}</a></td>
                                    <td>{{skill.skill_id.name}}</td>
                                    <td>{{skill.mastery.rank}}</td>

                                </tr>

                        {% endfor %}
                       
                    </tbody>
                </table>
            </div>
        </div>

        <hr>
        <div class="block w60">
            <h3>inventario</h3>
            <p> possui <span class="destacar">600</span> moedas de prata, na pagina <span class='destacar'> 7</span></p>
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th scope="col">Tipo</th>
                        <th scope="col">nome</th>
                        <th scope="col">descriçao</th>
                        <th scope="col">pagina</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>manual</td>
                        <td>5</td>
                        <td>
                            <p class="descricao-p">
                                Não possui base firme isso permite, movimetnos rapidos, mas que podem ser fatais
                                para o usario
                            </p>
                        </td>
                        <td>renascimento</td>


                    </tr>
                    <tr>

                        <td>armadura</td>
                        <td>7</td>
                        <td>renascimento</td>
                        <td>renascimento</td>

                    </tr>
                    <tr>

                        <td>DEX</td>
                        <td>9</td>
                        <td>renascimento</td>
                        <td>renascimento</td>

                    </tr>
                    <tr>

                        <td>RES</td>
                        <td>9</td>
                        <td>renascimento</td>
                        <td>renascimento</td>

                    </tr>

                </tbody>
            </table>
        </div>


        <hr>
        <div class="block">
            <h3>Domain</h3>
            <table class="table ">
                <thead>
                    <tr>

                        <th scope="col">região</th>
                        <th scope="col">feudo</th>
                        <th scope="col">assentamento</th>
                        <th scope="col">status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>norte</td>
                        <td>monstanhas caster</td>
                        <td>solter vila</td>
                        <td>ativo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="block feitos">
            <h4 class="margin-p">feitos</h4>
            <p class="pontos">.</p>
            <p class="pontos">.</p>
            <p class="pontos">.</p>
            <div>
                <h1>destuição dos guarras de malfar</h1>
                <div class="display-info">
                    <p class="mini-info">final do inverno de 896</p>
                    <p class="mini-info">floresta de morrison</p>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit porro, quo in quae
                    doloribus eligendi autem rem id tempora quis culpa, eveniet beatae, veniam quos laboriosam
                    corporis fugit consequuntur ea.
                    Soluta officiis voluptatibus ad consequatur dignissimos ipsum dolor sapiente modi esse
                    asperiores fuga assumenda laborum ut ipsa, aut beatae voluptates iste excepturi deserunt
                    temporibus. Saepe, maiores earum? Deleniti, iure eum.
                    Earum accusamus, possimus voluptas fugiat debitis autem necessitatibus libero maxime facilis
                    perferendis enim itaque minima asperiores, nam laboriosam repellat, natus numquam voluptatibus
                    sed maiores veritatis suscipit. Est harum quis rem!</p>

            </div>
        </div>
    </section>


</main>



{% endblock content%}
</body>

</html>