<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<div class="flex-container">
{% for character in characters_list %}
    <div class="card" style="width: 18rem;">
        <a href="{% url 'character-page' character.slug %}">
         <img class="card-img-top" src="{{ character.img.url }}" alt="Card image cap">
        </a>
         <div class="card-body">
             <h5 class="card-title">{{character.name}} {{character.alias}}</h5>
             <p class="card-text">nasceu no ano {{character.birth_year}}, possui o reino  </p> 
         </div>
    </div>
     {% endfor %}
</div>

{% endblock content %}