{% extends 'base.html' %}
   
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'geography/css/style.css' %}">
{% endblock css %}


{% block nav %}
<li class="nav-item active">
    <span class="sr-only"></span><a class="nav-link" href="{% url 'country-edit' slug_book slug_country  %}">editar country</a></span>
</li>
<li class="nav-item active">
    <span class="sr-only"></span><a class="nav-link"
        href="{% url 'region-add' slug_book  slug_country  %}">adicionar region</a></span>
</li>

{% endblock nav %}



{% block content %}

<section class="content flex" >
    <div class="text" >
        <h2>
            {{values.country.rank}} - {{ values.country.name }}    
        </h2>
        <p>
            
           {{values.region.description}}
        </p>
    </div>
    <div class="holder flex-col info" >
        <img src="{% static 'default/kingdom/world/village.jpg' %}" alt="" srcset="">
        <ol class="flex-col">
            <ul>house: darnes</ul>
            <hr class="color">
            <ul>
                country: {{values.region.fk_country.name}}
            </ul>
            <hr class="color">
            <ul>
                <p>localization:
                    {% for localization in values.region.localization.all %}
                        <span class="" style="font-weight: bold; font-style: italic;">
                            {{localization}}
                        </span>
                        {% if localization == values.region.localization.last %}
                            .
                        {% else %}
                            ,
                        {% endif %}
                    {% endfor %}
                </p>
            </ul>
           
        </ol>

    </div>
</section>
<section class="flex w90">


  {% for value in values.region %}
  <div class="card-body content-card">
      <div class="holder">
          <a href="{% url 'region' slug_book slug_country  value.slug %}">
          <img src="{% static 'default/kingdom/world/local.jpg' %}" alt=""></div>
      </a>
          <div>                       
          <h2>
              {{value.name}}
          </h2>
          <p>localization:{% for localization in value.localization.all %}
              <span class="" style="font-weight: bold; font-style: italic;">
                  {{localization}}
              </span>{% if localization == value.localization.last %}
                      .
                  {% else %}
                      ,
                  {% endif %}
              {% endfor %}
          </p>
          <p>economia:{% for economy in value.economy.all %}
              <span class="" style="font-weight: bold; font-style: italic;">
                  {{economy}}
              </span>{% if economy == value.economy.last %}
              .
          {% else %}
          ,
          {% endif %}
      </p>
              {% endfor %}
              
            </div>
            
        </div>
        {% endfor %}

</section>

<section class="content flex">
    <div class="text">
        <h1>
            acontencimentos 
        </h1>
</section>


<div class="flex-col">
    <p class="ponto">.</p>
    <p class="ponto">.</p>

</div>

<section class="content flex">
    <div class="text">
        <h3 class="center">
            Nome acontecimetno
        </h3>
        <div class="flex start">
            <p class="small-text">final do inverno do ano 912 - pagina 123</p>
       
        </div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident molestiae quisquam voluptates nemo
            earum eaque veniam in quaerat, veritatis dolorum deleniti repellat a similique, nulla eum aperiam ab
            error! Nam?
        </p>
    </div>
  
</section>


{% endblock content %}