{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>characters</title>
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'character/css/character_page.css' %}">
{% endblock css %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'country-add' %}">criar novo país<span
            class="sr-only">(current)</span></a>
</li>

{% endblock nav %}


{% block content %}

<div class="flex-container margin-m">
{% for country in countries %}
    <div class="card margin-p" style="width: 280px;">
        <a href="{% url 'region'  country.slug%}">
        <div class="card-image-holder"> 
            <img class="card-img-top card-img" src="{% static 'default/kingdom/world/village.jpg' %}" alt="Card image cap"> 
        </div>
        </a>
         <div class="card-body">
             <h5 class="card-title">{{country.name}} {{country.rank}}</h5>
             <p class="card-text">nasceu no ano {{character.birth_year}}, possui o reino  </p> 
         </div>
    </div>
     {% endfor %}
</div>

{% endblock content %}