/*   auxiliares*/
a{
text-decoration: none;
color: black;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}

.text-l{
    font-size: 16px;
    color: black;
    font-family:  Helvetica;
}

.margin-p {
    margin: 8px 4px;
}

.margin-m {
    margin: 14px 8px;
}


.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 5px;
}

hr {
    border-top: 3px solid black;
    margin: 20px 30px;

}


.destacar {
    font-size: 22px;
    font-style: italic;
    font-weight: bolder;
}

.w20 {

    width: 20%;
}

.w25 {

    width: 25%;
}


.w30 {

    width: 30%;
}


.w40 {
    width: 40%;
}
.w60 {
    width: 60%;
}

.hr-div{
    border-left: 3px solid black;
}


.center-title-1{
    text-align: center;
    margin: 30px 0px;
    background-color: black;
    color: white;
}



.lateral-title-p{
    padding: 10px 4px;
    background-color: black;
    color: white;
}



   /*   text*/
.descricao-p{
    font-size: 10px;
}

   /*   text*/


/*   auxiliares*/


h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

p {
    font-size: 18px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

}

/*section*/

section {
    padding: 8px;
    margin: 8px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.558);
    display: flex;
    flex-direction: column;

}

.feitos {
    width: 50%;
    align-self: center;
    justify-self: center;
}

/*section*/

/*aside*/
/*rgba(255, 0, 0, 0.705);*/

aside {
    background-color: rgba(255, 0, 0, 0.705);
    width: 30%;
    border: 4px solid black;
    margin: 8px;
    display: flex;
    justify-content:initial;
    flex-direction: column;
    

}


/*   images background-image:url(../img/cassandra.png);*/
.image-holder {
    background-color: gray;
    display: flex;
    justify-content: center;

}

img {
    width: 100%;
}

.info-personagem-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0px;


}

.info-list {
    border: 4px solid black;
}

.title-info {
    border-bottom: 4px;
    background-color: black;
    text-align: center;
    color: azure;
    font-weight: bolder;
    text-transform: capitalize;
}

.list-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.list-info li {
    font-size: 22px;
    padding-left: 10px;
    text-transform: capitalize;

}


/*   images*/

/*aside*/

.block {
    padding: 10px 20px;
}



.feitos h4 {
    text-align: center;
}


.pontos {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.display-info {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.mini-info {
    font-size: 10px;
}



h3{
    font-weight: bolder;
    color: black;

}


