body{
    margin: 0;
    font-family:  sans-serif;
}

.input-form{
    margin:  3rem auto;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
    padding: 12px;
    background-color: rgba(229, 229, 229, 0.41);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    
}
.input-form label{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;

}

.input-form input, select{
font: inherit;
padding: 0.25rem;
border-radius: 4px;
border:  2px solid rgb(92, 139, 171);
display: block;
margin: 8px;
}

.input-form input:focus , select:focus{
border-color:rgb(26, 111, 168);
background-color: rgb(201, 228, 245);
outline: none;

}

button{
    align-self: center;
    cursor: pointer;
    padding:  0.5rem 1.5rem;
    margin-left: 8px;
    border-radius: 12px;
    background-color: rgb(92, 139, 171);
    color: white;
    border:1px solid rgb(92, 139, 171);
}

